/* Reset CSS / Normalizador */
*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
a{
    display: block;
}
p a {
    display: inline;
}
img , svg{
    display: block;
    width: 100%;
    height: initial;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong , em , mark , a{
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color:inherit;
    text-decoration: none;
    background-color: inherit;
}
:root{
    font-size: 100%;
    --main-bg-color: black;
    --sec-bg-color: white;
}
body{
    /* Ver qué propiedades se REPITEN a lo largo de la web
    - Tipografía base / principal
    - Tamaño fuente

    */
}

.header{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;

    position: relative;

    justify-content: center;

    background-image: url("../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-button{
    width: 8rem;
    padding: 0.5rem;
    border: .125rem solid var(--sec-bg-color);
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.header-button:hover{
    border: .125rem solid var(--main-bg-color);
    background-color: var(--sec-bg-color);
    color: var(--main-bg-color);
}

.header-h1{
    width: 50%;
    margin: auto;
    background-color: aqua;
}

.header-img{
    background-color: aqua;

}