/* Reset CSS / Normalizador */
*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
a{
    display: block;
}
p a {
    display: inline;
}
img , svg{
    display: block;
    width: 100%;
    height: initial;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong , em , mark , a{
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color:inherit;
    text-decoration: none;
    background-color: inherit;
}
input {
    all: unset;
}

button{
    font-family: inherit;
}

:root{
    font-size: 100%;
    --black: black;
    --white: white;
    --dark_grey: #0F0F0F;
    --lighter_grey: #231F20;
    --red: red;
    --mustard: #E78F00;
    --purple: #BE13C1;
    --blue: #5D9EDB;
    --brown: #8E4F21;
    --blocked:#8C8C8C;
}

body{
    font-family: "Rubik", sans-serif;

}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

.header{
    width: 100%;

    display: flex;

    position: relative;

    justify-content: center;
    align-items: center;

    background-color: var(--black);
    padding: 2rem;

}
.header__button-perfil{
    width: 4.125rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;

}

.header__button-perfil:hover{
    filter: invert(100%);

}

.header__h1{
    width: 15%;
    min-width: 9rem;
    margin: auto;
}

@media (max-width: 700px) {
    .header__h1{
        width: 10rem;
        margin: 3rem auto;
    }
    .header{
        justify-content: start;
    }
    .header__button{
        left: 0;
        top: 16px;
        right: 0px;
        margin: auto;
    }
}


.reservas{
    width: 100%;
    background: linear-gradient(var(--black), var(--lighter_grey));
    color: var(--white);
    padding: 0 3rem;
}

.reservas__encabezado{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin: 0 0 3rem;
}

.reservas__h2{
    font-size: 2.625rem;
    font-weight: 500;
    text-transform: uppercase;

}
.reservas__button{
    border: .125rem solid var(--white);
    width: 13.5rem;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    background-color: var(--black);
    font-size: 1.5rem;
    color: var(--white);
}

.reservas__button:hover{
   background-color: var(--black); 
    cursor: pointer;
    filter: invert(100%);
}
.reservas__buttonCalendar{
    border: .125rem solid var(--white);
    width: 13.5rem;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    background-color: var(--black);
    font-size: 1.5rem;
    color: var(--white);
}
.reservas__buttonCalendar::-webkit-calendar-picker-indicator{
    filter: invert(100%);
    cursor: pointer;

}
.reservas__buttonCalendar:hover{
    filter: invert(100%);
}

.services__icon{
    width: 1.6875rem;
    height: 1.5rem;
}

.reservas__p{
    width: 25.3125rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}


.reservas__grid{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}
.revervas__servicios{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 5%;

}
.reservas__sala {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    gap: 2%;
}

.reserva__imgContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reserva__nombreSala{
    position: absolute;
    font-size: clamp(2rem, 2vw,  4.5rem) ;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgb(0, 0, 0); 
    text-stroke: 2px black; 
    text-align: center;
    word-break:break-all;
}

.reservas__foto{
    width: 100%;
    height: 100%;
    border: solid .1875rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}


.reservas__info{
    width: 50%;
    padding: 1rem;

}
.reserva__incluido{
    font-size: clamp(1rem, 2vw,  2.25rem) ;
    font-weight: 500;
}
.reserva__aElegir{
    font-size: 1rem;
    font-weight: 300;
}
.reserva__includedItem{
    font-size: 1rem;
    font-weight: 500;
}
.header__button-perfil{
    width: 4.125rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;

}
.reservas__horarios{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
}
.reservas__opcion{
    width: 33.33%;
    border: solid .1875rem var(--white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
}
.reservas__opcionBlocked{
    width: 33.33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
    color: var(--blocked);
    border: solid .1875rem var(--blocked);
}
.reservas__button-reser{
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 1.5rem) ;
    font-weight: 400;
    background-color: var(--black);
    padding: 0.2rem 0.4rem;
}
.red{
    border: .125rem solid var(--red);
    color: var(--red);

}
.yellow{
    border: .125rem solid var(--mustard);
    color: var(--mustard);

}
.purple{
        border: .125rem solid var(--purple);
    color: var(--purple);
}
.white{
        border: .125rem solid var(--white);
    color: var(--white);
}
.blue{
        border: .125rem solid var(--blue);
    color: var(--blue);
}
.brown{
        border: .125rem solid var(--brown);
    color: var(--brown);
}

.reservas__button-reser:hover{
    border: .125rem solid var(--black);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}


.reservas__hora{
    font-size: clamp(1rem, 2vw, 1.75rem) ;
    font-weight: 500;
    padding: 0 0 1rem;
    text-align: center;
}
.reservas__personas{
    font-size: clamp(1rem, 2vw, 1.75rem) ;
    font-weight: 400;
    text-align: center;

}
.reservas__precio{
    text-align: center;

    font-size:clamp(1rem, 2vw, 1.5rem) ;
    font-weight: 400;
    padding: 0 0 1rem;
}



@media (max-width: 1200px) {
    .revervas__servicios{
        flex-flow: column;
        gap: 2rem;
        align-items: center;
    }
    .reservas__sala {
        width: 100%;
    }
    .reservas__horarios{
        width: 100%;
    }
    .reservas__foto{
        width: 19.5rem
    }
}

@media (max-width: 700px) {
    .reservas{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .reservas__encabezado{
        flex-flow: column;
    }
    .reservas__h2{
        text-align: center;
    }
    .reservas__p{
        text-align: center;
    }
    .reservas__foto{
        width: 80%;
        border: solid .1875rem var(--white);
    }
    .reservas__opcion{
        width: 100%;
    }
    .reservas__opcionBlocked{
        width: 100%;
    }
    .reservas__horarios{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .reservas__info{
        width: 100%;
        text-align: center;
    }

    .reservas__sala{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


.footer{
    width: 100%;
    background: var(--black);
    gap: 8rem;
    padding: 5rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 15%;
    align-items: center;
}
.footer_logo{
    width: 18.75rem;
    height: 11rem;
    
}
.footer__a{
    color: var(--white);
}
.footer__icon{
    width: 1.2rem;
}
.footer__item{
    color: var(--white);
}
.footer__contact{
    display: flex;
    flex-flow: column;
    gap:1rem
}

.footer__item{
    display:flex;
    flex-flow: row nowrap;
    gap:1rem
}
@media (max-width: 900px) {
    .footer{
        flex-flow: column nowrap;
        gap:3rem
    }
}

.disable {
    display: none
}
